body {
    background-color: #a5b3d5;
}

h1 {
    color: #424755; font-size: 800%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: #424755; font-family: 'Franklin Gothic Mediu', 'Arial Narrow', Arial, sans-serif;
}

p {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

