body {
  background-color: #a5b3d5;
}

#Background {
  max-width: 600px;
  margin: 0 auto;
}

#titl {
  color: #424755;
  font-family: 'Georgia', serif;
  text-align: center;
  
}

#ingr {
  color: #424755;
  font-family: 'Georgia', serif;
  text-align: center;
}

#inst {
  color: #424755;
  font-family: 'Georgia', serif;
  text-align: center;
}

#rela {
  color: #424755;
  font-family: 'Georgia', serif;
  text-align: center;
}

p, li {
  color: #424755;
  font-family: 'Verdana', sans-serif;
}

img {
  max-width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  max-width: 600px;
  margin: 0 auto;
}

.left {
  float: left;
  width: 600px;
}

.right {
  float: left;
  width: 600px;
  margin-left: 30px;
}

