body {
    background-color: #a5b3d5;
}

figure {
  display: table;
  /* Optional: Center the figure */
  margin-left: auto;
  margin-right: auto;
}


h1 {
    text-align: center; color: #424755; font-size: 800%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: #424755; font-family: 'Franklin Gothic Mediu', 'Arial Narrow', Arial, sans-serif;
}

p {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: #424755; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

