* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #989c96, #000000);
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #c4c0b7 !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-paw {
  color: #c4c0b7;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}
