* {
  margin: 0;
  padding: 0;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
}

/* ----- ABOUT SECTION ----- */

#header {
  width: 100%;
  height: 100vh;
  background-image: url(assets/background-grey.JPG);
  background-size: fit;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #2e2f23;
}

#header p {
  font-size: 20px;
  width: 50%;
  margin-top: 10%;
  line-height: 40px;
}

.container {
  padding: 20px 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 300px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #8a8e74;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 5%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #d5c6ae;
}

/* ----- PROFESSIONAL SECTION -----*/

#about {
  padding: 80px 0;
  color: #f2ead8;
}

#about .container {
  padding: 20px 0% 20px 10%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 55%;
}

h1.sub-title {
  margin-bottom: 5px;
  font-size: 50px;
  font-weight: 600;
  color: #f2ead8;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #8a8e74;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 20px;
  line-height: 25px;
}

.tab-contents ul li span {
  color: #8a8e74;
  font-size: 20px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ----- PORTFOLIO SECTION ----- */
#portfolio {
  padding: 30px 0;
}

#portfolio .container {
    padding: 20px 0% 20px 10%;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.portfolio-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
}

.portfolio-list div i {
    color: #f2ead8;
  font-size: 50px;
  margin-bottom: :30px;  
}

.portfolio-list div h2{
    color: #f2ead8;
    font-size: 30px;
    font-weight: 500;;
    margin-bottom: 15px;
}

.portfolio-list div a{
    text-decoration: none;
    color: #f2ead8;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}