@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#root {
  padding: 2rem;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

section {
  background: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

form div {
  margin-bottom: 1rem;
}

input,
textarea,
button {
  font: inherit;
}

input,
textarea {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
