 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GAME STAGE */
#gameStage {
  width: 400px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  background-color: #f0f0f0;
}

/* CAT */
#cat {
  width: 40px;
  height: 40px;
  background-color: orange;
  position: absolute;
  bottom: 0px;
}

/* FISH */
top: 0px;

/* SCORE DISPLAY */
#scoreDisplay {
  margin: ;
  font-size: ;
}
/* LIVES DISPLAY */
#livesDisplay {
  margin: ;
  font-size: ;
}
