 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GAME STAGE */
#gameStage {
  width:
  height:
  border:
  position: relative;
}

/* CAT */
#cat {
 width:
  height:
  background-color: 
  position: absolute;
  initial: left bottom
}

/* SCORE DISPLAY */
#scoreDisplay {
  margin: ;
  font-size: ;
}
/* LIVES DISPLAY */
#livesDisplay {
  margin: ;
  font-size: ;
}