 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GAME STAGE */
#gameStage {
  width: 600px;
  height: 600px;
  border: 3px solid #444;
  position: relative;
  background-color: light gray: #f0f0f0;
}

/* CAT */
#cat {
 width:
  height:
  background-color: 
  position: absolute;
  bottom: 0px;
  left: 180px;
}

/* FISH */
top: 0px;

/* SCORE DISPLAY */
#scoreDisplay {
  margin: ;
  font-size: ;
}
/* LIVES DISPLAY */
#livesDisplay {
  margin: ;
  font-size: ;
}