 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GAME STAGE */
#gameStage {
  width: ;
  height: ;
  border: ;
  position: relative;
  background-color: ;
}

/* CAT */
#cat {
 width:
  height:
  background-color: 
  position: absolute;
  bottom: 0px;
  left: 180px;
}

/* FISH */
top: 0px;

/* SCORE DISPLAY */
#scoreDisplay {
  margin: ;
  font-size: ;
}
/* LIVES DISPLAY */
#livesDisplay {
  margin: ;
  font-size: ;
}