@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Comfortaa", sans-serif;
}

html {
  font-size: 62.5%;
}

/*.container {
  width: 100%;
  height: 100vh;
  background-color: #2c3542;
  display: grid;
  place-items: center;
  overflow: hidden;
  perspective: 100rem;
}*/

.container {
  width: 100%;
  height: 100vh;

  display: flex;

  justify-content: flex-end; /* move right */
  align-items: flex-start; /* anchor from top */

  padding-top: 25vh; /* adjust vertical position */
  padding-right: 1vw; /* adjust horizontal position */

  overflow: hidden;
  perspective: 100rem;

  background-image: url("/images/cat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}
